---
layout: archive
title: "Teaching and Supervision"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Teaching</h1>
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Supervision</h1>

<h3> PhD Candidates </h3>
{% for post in site.supervision %}
  {% if post.type == "PhD" %}
    <div class="supervision-item">
      <p>
        <strong>[{{ post.period }}] {{ post.student }}</strong>
        {% if post.institution %}
          <i>({{ post.institution }})</i>
        {% endif %}
        <br>
        <strong>Project:</strong> {{ post.project }}
      </p>
    </div>
  {% endif %}
{% endfor %}
